footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size:  14px;
    padding-bottom: 20px;

}
footer p{
    font-size:  13px;
    margin: 0 0 8px 0;
    color: rgb(248, 155, 155);
    
}
footer a{
    font-size:  13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    
}
footer .follow{
    color: #9fd3fd;
    padding-right: 4px;
    cursor: pointer;}
.section-p1{
        padding: 40px 80px;}
